poc-cards/target/classes/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<file:connector name="file-connector" autoDelete="false" streaming="true" validateConnections="true" doc:name="File" workFileNamePattern=".*csv"/>

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" readFromDirectory="D:\Users\sacchakr\Desktop\new" workFileNamePattern="details.csv" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="/getAccountDetails/{getCardNumber}">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getAccountDetails/{cardNumber}" doc:name="HTTP"/>
        <set-session-variable variableName="card" value="#[message.inboundProperties.'http.uri.params'.cardNumber]" doc:name="Session Variable"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.card==&quot;1234567890123450&quot;]">
                <flow-ref name="getMalyajDetailsFlow" doc:name="Malyaj"/>
            </when>
            <when expression="#[sessionVars.card==&quot;1234367891953450&quot;]">
                <flow-ref name="getSmritiDetailsFlow" doc:name="Smriti"/>
            </when>
            <when expression="#[sessionVars.card==&quot;1234567814973450&quot;]">
                <flow-ref name="getSakshiDetailsFlow" doc:name="Sakshi"/>
            </when>
            <when expression="#[sessionVars.card==&quot;1234567890393450&quot;]">
                <flow-ref name="getSachinDetailsFlow" doc:name="Sachin"/>
            </when>
            <when expression="#[sessionVars.card==&quot;1234557890123450&quot;]">
                <flow-ref name="getNishchalDetailsFlow" doc:name="Nishchal"/>
            </when>
            <when expression="#[sessionVars.card==&quot;1234569890123450&quot;]">
                <flow-ref name="getMonicaDetailsFlow" doc:name="Monica"/>
            </when>
            <when expression="#[sessionVars.card==&quot;1034567890123450&quot;]">
                <flow-ref name="getMohiniDetailsFlow" doc:name="Mohini"/>
            </when>
            <otherwise>
                <flow-ref name="getAllDetailsFlow" doc:name="All Details"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="getMalyajDetailsFlow">
        <mulerequester:request resource="file:///src/main/resources/details.csv?connector=file-connector" doc:name="Mule Requester"/>
        <set-payload value="#[sessionVars.card]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="getMohiniDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
    <sub-flow name="getMonicaDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
    <sub-flow name="getNishchalDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
    <sub-flow name="getSachinDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
    <sub-flow name="getSakshiDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
    <sub-flow name="getSmritiDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
    <sub-flow name="getAllDetailsFlow">
        <set-payload value="#[sessionVars.card]" doc:name="Copy_of_Set Payload"/>
    </sub-flow>
</mule>
