poc-cards/target/classes/poc-cards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" readFromDirectory="D:\Users\sacchakr\Desktop\new" workFileNamePattern="details.csv" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="/getAccountDetails/{getCardNumber}">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getAccountDetails/{cardNumber}" doc:name="HTTP"/>
        <set-session-variable variableName="card" value="#[message.inboundProperties.'http.uri.params'.cardNumber]" doc:name="Session Variable"/>
        <logger message="#[sessionVars.card]" level="INFO" doc:name="Logger"/>
        <flow-ref name="poc-cardsFlow" doc:name="poc-cardsFlow"/>
    </flow>
    <flow name="poc-cardsFlow">
        <file:outbound-endpoint path="D:\Users\sacchakr\Desktop\new" connector-ref="File" responseTimeout="10000" doc:name="File" metadata:id="412ed722-6df2-4be4-b3a1-811f59b78644"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b0179942-35cd-434b-a8e6-dd104d064aff">
            <dw:input-payload doc:sample="sample_data\list_csv_1.csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

	cardNumber: payload.cardNumber
]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
